# Android Studio e Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/
*.iml
.DS_Store

# Segredos e Chaves
*.jks
*.keystore
*.p12
google-services.json
*.pem
*.key
secrets.xml

# Backup e Temporários
*.bak
*.swp
*~
